.expandButton{position:absolute;right:.25rem;pointer-events:none;user-select:none}.expandButton img{float:right;margin-top:-.5rem;transition:.3s all ease-in-out}article.expand .expandButton img{margin-top:-.5rem}article.expand:hover .expandButton{animation:bounceDown .5s ease}article.expand.clicked:hover .expandButton{animation:bounceUp .5s ease}#Col2FlexContent.about{align-items:center}.aboutLinks{display:flex;flex-flow:row nowrap;width:90%;width:calc(100% - 2rem);margin:1rem;align-content:center}.aboutLinks .boxUIelement{flex-grow:1;width:15vw;height:15vw}.aboutLinks p{font-size:20pt}#aboutBox2{background-image:url(/img/logos/CUTBA.svg);background-size:contain;background-repeat:no-repeat;background-position:center}img.staffPortrait{width:15rem;float:right;margin:0;padding:1rem;border-radius:50%;shape-outside:circle()}.aboutLinks{text-align:center}
.about #col1Flex{align-self:flex-start}.deadlines{display:flex;flex-flow:row nowrap;justify-content:center;width:98%;width:calc(100% - 2.5rem);height:100%;margin:1.25rem}.deadlines .textContainer{background:#fff;user-select:none}.deadlines .textContainer p{width:100%;font-size:1.75vw;transition:color .3s ease}.deadlines .textContainer b{color:#fff;font-size:6.5vw;line-height:3.5vw;transition:color .3s ease}.boxUIelement.clicked .textContainer b,.boxUIelement.clicked .textContainer p{color:#f66733}.month{display:flex;flex-flow:row wrap}.month .textContainer b,.month .textContainer p{color:#522d80}.month .textContainer:hover{background:#fff}.month.num1,.month.num3{width:26vw}.month.num2{width:39vw}.deadlines .sq{width:12.5vw;height:12.5vw;background:0 0;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);position:relative;z-index:3;cursor:pointer;transition:box-shadow .3s ease}.deadlines .sq:hover{box-shadow:0 4px 8px rgba(0,0,0,.4),0 4px 8px rgba(0,0,0,.2)}.deadlines .sq:hover b,.deadlines .sq:hover p{color:#f66733}.deadlines .sq.clicked{z-index:2}.deadlinesInfo{width:100%;background:#fff;height:0;transform:scaleY(0);transform-origin:top;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);transition:none 150ms ease;transition-property:height,-webkit-transform;transition-property:height,transform;transition-property:height,transform,-webkit-transform}.deadlinesInfo p{color:#f66733;margin:1rem}.deadlinesInfo.clicked{height:auto;background:#fff;transform:scaleY(1);z-index:2}#audioContainer{display:flex;flex-flow:row wrap}.auditionAudio{width:50%;text-align:center}article.text h1.purpleText{color:#522d80}article.fullWidth p{width:100%}article.expand{cursor:pointer;position:relative}article.expand.clicked .staffBio{display:block;overflow:auto;height:100%}article.expand .staffBio{display:none}article.expand.clicked .expandButton img{transform:rotateX(180deg)}
#contactWrapper{display:flex;flex-flow:wrap row;align-items:center;width:92.5vw;width:calc(100% - 5rem);margin:2rem 0;padding:1rem;position:relative;left:50%;transform:translateX(-50%)}#contactForm{display:flex;flex-flow:column nowrap;align-items:center;width:47.5%;width:calc(50% - 2rem);padding:1rem}#contactForm input,#contactForm textarea{width:100%;font-size:14pt;border:none;padding:0;margin-bottom:1.5rem;background:0 0;transition:none .3s ease-in-out;transition-property:background,border,color}#contactForm input[type=email],#contactForm input[type=text]{border-bottom:2px solid #86898c}#contactForm textarea{height:10rem;max-height:20rem;max-width:98%;max-width:calc(100% - 1rem);border:2px solid #86898c;padding:.5rem}#contactForm input:focus,#contactForm textarea:focus{outline:0}#contactForm input[type=email]:focus,#contactForm input[type=text]:focus{border-bottom:2px solid #f66733}#contactForm textarea:focus{border:2px solid #f66733}#contactForm input[type=reset],#contactForm input[type=submit]{width:12vw;margin:0 auto;border:2px solid #f66733;color:#f66733;cursor:pointer;padding:.5rem}#contactForm input[type=reset]:hover,#contactForm input[type=submit]:hover{background:#f66733;color:#fff;border:2px solid #f66733}#contactAddress{width:50%}#contactTBlogo{display:block;width:40%;margin:auto}#contactInfo{text-align:center;margin-top:1rem}h5{font-size:24pt;margin:.75rem}#contactInfo p{margin:0;font-size:16pt}#socMedContainer.contact{position:relative;left:50%;transform:translateX(-50%);background:#f66733;padding:1rem;width:95%}#socMedContainer.contact #icons{flex-flow:row wrap;width:30rem;margin:auto}#socMedContainer.contact #icons div{margin:.5rem}#socMedContainer.contact.submit{position:absolute;top:85vh}
footer{background:#f66733;margin-top:auto}footer a{text-decoration:none;color:#fff;transition:color .3s ease}footer a:hover{color:#522d80}#footerColsLayout{display:flex;flex-flow:row nowrap;align-items:start;width:98vw;padding:1vw}footer table{width:19.5vw;color:#fff;font-size:11pt;font-weight:400}footer table tr:first-child td{font-weight:400}footer table:first-child td,footer table:nth-child(2) td{text-align:left;padding:.25rem}footer table:last-child td,footer table:nth-child(4) td{text-align:right;padding:.25rem}footer #footerLogo{align-self:center;width:50%;max-width:20rem;display:block;margin:auto}hr{width:98vw;background:#fff;margin:auto}footer #socMedContainer{width:35%;position:relative;left:50%;transform:translateX(-50%);padding:.5rem}footer #socMedContainer .socialBorder{width:3.5rem;height:3.5rem}body.stickyFooter{display:flex;flex-direction:column}.stickyFooterContent{flex:1 0 auto}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}h1,h4,strong{font-weight:700}h2,h3{font-weight:400}h1{font-size:95pt}h2{font-size:55pt}h3{font-size:28pt;color:#f66733;margin:0}h4{font-size:36pt;color:#f66733;margin:0}.heading{border-bottom:3px solid #f66733;margin:1rem 1.5rem;margin-top:3.5rem;padding:0}html{height:100%;font-family:Roboto,sans-serif;background:#fafafa;overflow-x:hidden}body{margin:0;min-height:95.5%;min-height:calc(100% - 3.5rem);margin-top:2.5rem}a{color:#522d80;text-decoration:none}a.richLink{text-decoration:none;color:#522d80;background:#fff;font-size:16pt;text-align:center;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);padding:1rem;margin:0 auto;display:flex;justify-content:center;width:45%;transition:none 150ms ease;word-break:keep-all;transition-property:-webkit-box-shadow,-webkit-transform;transition-property:box-shadow,transform;transition-property:box-shadow,transform,-webkit-box-shadow,-webkit-transform}.cta{color:#fff;background:#522d80}a.richLink:hover{box-shadow:0 5px 10px rgba(0,0,0,.25),0 5px 10px rgba(0,0,0,.25);transform:translateY(-1px)}#menuButton,#mobileHeader,#mobileMenu,#mobileScreenShade,.hide{display:none}.show{display:block}.purpleText{color:#522d80}#Col2FlexContent{display:flex;flex-flow:row wrap;width:96.5vw;width:calc(100vw - 4rem);margin:auto;margin-bottom:1.5rem;justify-content:space-between;padding-top:0;align-items:flex-start}#col1Flex,#col2Flex{width:calc(50% - 1rem);margin:0;padding:0}#col1Flex article,#col2Flex article{width:96%;width:calc(100% - 2rem)}
#homeFullscrContainer{position:relative;margin-top:-2.5rem;width:100vw;height:100vh;overflow:hidden}video#homeVideoBkg{position:absolute;top:50%;left:50%;min-height:100%;transform:translate(-50%,-50%);z-index:-2}#screenShadeHome{width:100vw;height:100vh;background:rgba(0,0,0,.5);background:-webkit-gradient(linear,left top,left bottom,color-stop(from(rgba(0,0,0,.3)),75%,rgba(0,0,0,.3)),to(rgba(0,0,0,.8)));background:linear-gradient(to bottom,rgba(0,0,0,.3) 0,rgba(0,0,0,.3) 75%,rgba(0,0,0,.8) 100%);z-index:-1}#screenShadeHome::after{content:"";display:block;position:absolute;left:0;top:0;width:100vw;height:100vh;background:#000;z-index:-2}#screenShade{width:100vw;height:100vh;background:rgba(0,0,0,.5);background:-webkit-gradient(linear,left top,left bottom,color-stop(80%,rgba(0,0,0,.5)),to(rgba(0,0,0,.8)));background:linear-gradient(to bottom,rgba(0,0,0,.5) 80%,rgba(0,0,0,.8) 100%);z-index:-1}.fullpageTitle{text-align:center;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:60%;color:#fff;line-height:1.5rem;border-top:3px solid #f66733;border-bottom:3px solid #f66733;animation:fadeIn .5s ease-in-out}.clemsonLogo,.tbHomeLogo{animation:fadeIn .5s ease-in-out}.tbHomeLogo{position:absolute;left:.5vw;bottom:1vh;width:12rem}.clemsonLogo{position:absolute;right:1vw;bottom:2vh;width:6rem}#boxUI{display:flex;flex-wrap:wrap;width:100vw}#auditionBoxUI a,#boxUI a,#rgBoxUI a,.aboutLinks a,.homepageNav a{text-decoration:none}.boxUIelement{height:33vh;flex-grow:1;position:relative;transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}.rect{width:50vw}.sq{width:25vw}.purp{background:#522d80}.orange{background:#f66733}.white{background:#fff}.boxWrapper{overflow:hidden;position:relative}.boxWrapper:hover .boxUIelement{transform:scale(1.1)}#box1.homepage{background:url(/img/logos/tigerbandmedia.png) center/80% no-repeat,url(/img/TigerBandMediaBackground.jpg)}#box2.homepage{background:url(/img/clemson-tiger-band-syracuse-2016-526.jpg) center/cover}#box3.homepage{background:#fff url(/img/logos/YouTube.png) center/50% no-repeat}#box4.homepage{background:url(/img/clemson-tiger-band-fiesta-bowl-2016-734.jpg) center/cover}#box5.homepage{background:url(/img/clemson-tiger-band-pitt-2016-713.jpg) center/cover}#box7.homepage{background:#522d80 url(/img/logos/CUTBA.svg) center/60% no-repeat}#box8.homepage{background:url(/img/clemson-tiger-band-syracuse-2016-1054.jpg) center/cover}#box9.homepage{background:url(/img/clemson-tiger-band-syracuse-2016-189.jpg) center/cover}.textContainer{display:flex;flex-flow:row wrap;align-items:center;justify-content:center;background:rgba(0,0,0,.4);width:100%;height:100%;transition:background .3s ease}.textContainer:hover{background:rgba(0,0,0,.6)}.textContainer.hide:hover{background:rgba(0,0,0,.6)}.textContainer.hide:hover p{opacity:1}.textContainer p{font-size:24pt;text-align:center;color:#fff;width:100%;padding:0;margin:0;transition:opacity .3s ease}.textContainer.hide{background:0 0}.textContainer.hide p{opacity:0}#socMedContainer{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}#socMedContainer p{color:#fff;text-align:center;font-size:24pt;margin-bottom:.5rem}#icons{display:flex;justify-content:space-between;align-items:center}.socialBorder{border:1px solid #fff;width:4rem;height:4rem;border-radius:50%;transition:background-color .3s ease;cursor:pointer;position:relative}#facebook,#instagram,#snapchat,#twitter,#webLink{background:#f66733}#webLink:hover{background:#86898c}#twitter:hover{background:#1da1f2}#facebook:hover{background:#3b5998}#instagram:hover{background:#e1306c;background:radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d 100%)}#snapchat:hover{background:#fffc00}#snapchat:hover img{filter:drop-shadow(0 0 .5px #000)}#youtube:hover{background:red}.socialIcon{width:2rem;height:auto;flex-wrap:wrap;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}#socMedContainer.organizations{padding:1rem 0;position:relative;top:0;left:0;transform:none;width:100%;clear:both;display:flex;justify-content:center;align-items:center}#socMedContainer.organizations #icons{width:50%;justify-content:center}#socMedContainer.organizations #icons a{padding:0 1.5rem}#Col2FlexContent.homepage,#content{display:flex;flex-flow:row wrap;width:96.5vw;width:calc(100vw - 4rem);margin:auto;margin-bottom:1.5rem;justify-content:space-between;padding-top:0;align-items:flex-start}#content.centered{justify-content:center}article{width:calc(50% - 4rem);margin:1.5rem 0 0 0;padding:1.5rem;background:#fff;overflow:auto;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);transition:none 150ms ease;transition-property:-webkit-box-shadow,-webkit-transform;transition-property:box-shadow,transform;transition-property:box-shadow,transform,-webkit-box-shadow,-webkit-transform}article.fullWidth p{width:100%}article img.fullSize{width:75%}article.media h1,article.text h1{margin:0;font-weight:400}article.media h1,article.text h1{font-size:24pt;color:#f66733}article.media h2,article.text h2{font-size:14pt;font-weight:400;color:#522d80;font-style:italic;margin:0}article.media p,article.text p{padding:.5rem 0;margin:0}article.media h1{color:#522d80}article.media p{padding:.5rem 0;margin:0}#col1Flex>a,#col2Flex>a{text-decoration:none;color:#000}.articleImg{width:70%;float:right;padding:.5rem}.iframeContainer{width:75%;margin:auto}.iFrameAspectRatio{position:relative;padding-bottom:56.25%;width:100%;margin:auto;height:0}.iFrameAspectRatio iframe{position:absolute;left:0;top:0;height:100%;width:100%}
.joinFullscrContainer{margin-top:-2.5rem;width:100vw;height:100vh;background-image:url(/img/clemson-tiger-band-syracuse-2016-1054.jpg);background-position:center;background-size:cover;background-repeat:no-repeat}.fullpageTitle.join{height:30%;display:flex;flex-direction:column;justify-content:space-between;will-change:height}.join h1{margin-top:0}#auditionBoxUI{display:flex;flex-flow:row wrap;width:80vw;margin:auto;margin-top:2rem;margin-bottom:2rem}#auditionBoxUI .boxWrapper,#auditionBoxUI .sq{width:auto;height:25vh;flex:1}#inlineBox1{background-image:url(/img/clemson-tiger-band-ncstate-2016-428.jpg);background-size:cover;background-position:center}#inlineBox2{background-image:url(/img/clemson-tiger-band-ncstate-2016-162.jpg);background-size:cover;background-position:center}#inlineBox3{background-image:url(/img/clemson-tiger-band-syracuse-2016-462.jpg);background-size:cover;background-position:center}#inlineBox4{background-image:url(/img/Dancers.jpg);background-size:cover;background-position:center}#inlineBox5{background-image:url(/img/Twirlers.jpg);background-size:cover;background-position:center}.socialContainer{display:flex;justify-content:space-between;align-items:center;background:#f66733;padding:2rem;width:65%;margin:2rem auto;border-radius:1rem;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2)}@media (max-width:800px){.socialContainer{width:90%;padding:0;padding-right:1rem}}
@-webkit-keyframes bounceDown{0%,100%,50%{transform:translateY(0)}25%,75%{transform:translateY(.5rem)}}@keyframes bounceDown{0%,100%,50%{transform:translateY(0)}25%,75%{transform:translateY(.5rem)}}@-webkit-keyframes bounceUp{0%,100%,50%{transform:translateY(0)}25%,75%{transform:translateY(-.5rem)}}@keyframes bounceUp{0%,100%,50%{transform:translateY(0)}25%,75%{transform:translateY(-.5rem)}}@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}@keyframes fadeOut{from{opacity:1}to{opacity:0}}@-webkit-keyframes shake{0%,100%{transform:translate(0,0)}10%,30%,50%,70%,90%{transform:translate(-7px,0)}20%,40%,60%,80%{transform:translate(7px,0)}}@keyframes shake{0%,100%{transform:translate(0,0)}10%,30%,50%,70%,90%{transform:translate(-7px,0)}20%,40%,60%,80%{transform:translate(7px,0)}}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
input[name=pass]{width:25rem;background:0 0;color:#fff;border:2px solid #f66733;padding:.75rem;text-align:center;font-size:24pt;font-weight:400;transition:background .3s ease}input[name=pass]:focus{outline:0;background:rgba(0,0,0,.35)}.pwdFlex{position:absolute;left:50%;top:80vh;transform:translateX(-50%)}.fadeOut{animation:fadeOut 150ms ease}.shake{animation:shake .7s ease}#membersContent{animation:fadeIn .3s ease}.hidden{display:none}#music{margin-bottom:1.5rem}#membersContent h4,#music h4{padding-top:2.5rem;margin-top:-2.5rem}#membersContent h4.purpleText,#music h4.purpleText{user-select:none;-webkit-user-select:none;margin-left:1.5rem;margin-right:1.5rem;margin-top:1rem;padding-top:0;background:#fff;padding:1rem;font-size:26pt;font-weight:400;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2);transition:none 150ms ease;transition-property:-webkit-box-shadow,-webkit-transform;transition-property:box-shadow,transform;transition-property:box-shadow,transform,-webkit-box-shadow,-webkit-transform}#membersContent h4.purpleText:hover,#music h4.purpleText:hover{box-shadow:0 5px 10px rgba(0,0,0,.25),0 5px 10px rgba(0,0,0,.25);transform:translateY(-1px)}.expandButton,h4.expand{cursor:pointer}h4.expand+.expandButton+.fileUIcontainer{display:none}h4.expand.clicked+.expandButton+.fileUIcontainer{display:flex}h4.expand.clicked+.expandButton img{transform:rotateX(180deg)}h4.expand:hover+.expandButton{animation:bounceDown .5s ease}h4.expand.clicked:hover+.expandButton{animation:bounceUp .5s ease}h4.expand+.expandButton img{float:right;margin-top:-4.6rem;margin-right:5rem;transition:.3s all ease-in-out}.fileUIcontainer{width:100%;height:auto;background:#696969;flex-flow:row nowrap;overflow-x:scroll;margin-top:1rem}.fileUIcontainer p{text-align:center;color:#a9a9a9;font-size:14pt;height:12rem;line-height:12rem}.fileUIfile{position:relative;margin:1rem;background:#fff;height:12rem;width:12rem;background:#fff url(../img/logos/clemsonPaw.svg) 50% 25%/50% no-repeat}.fileUIfile span{position:absolute;bottom:0;left:0;background:#d3d3d3;height:3rem;width:100%;font-size:16pt;text-align:center;line-height:3rem}.fileUIcontainer a{color:#000}.fileUIfile img{position:absolute;top:25%;left:50%;transform:translate(-50%,-25%);width:8rem;height:8rem}
nav{background:#181818;width:100vw;text-align:center;position:fixed;top:0;left:0;display:flex;flex-flow:row nowrap;justify-content:space-around;z-index:9;box-shadow:0 1px 3px rgba(0,0,0,.2),0 1px 3px rgba(0,0,0,.2)}nav a{color:#d3d3d3;text-decoration:none;font-weight:700;font-size:12.5pt;padding:.75rem 0 .5rem 0;flex:1 0 7.14%;transition:color .3s ease}nav a.active,nav a:hover{color:#fff}nav a:active{background:#383838}nav a.active{border-bottom:3px solid #f66733;transition:border-bottom .3s ease}
.boxWrapper.title:hover .boxUIelement{transform:none}.boxWrapper.title .textContainer{background:#f66733}.boxWrapper.title .textContainer p{font-size:36pt;font-weight:700}.boxWrapper.title .textContainer:hover{background:#f66733}.sections .mobile-box{display:none}.sections a #piccolos .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553371765/Section%20Pages/Piccolos/thumbnail.jpg) center/cover no-repeat}.sections a #clarinets .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961247/Section%20Pages/Clarinets/thumbnail.jpg) center/cover no-repeat}.sections a #altos .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551874848/Section%20Pages/Alto%20Saxophones/thumbnail.jpg) center/cover no-repeat}.sections a #tenors .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551911136/Section%20Pages/Tenor%20Saxophones/thumbnail.jpg) center/cover no-repeat}.sections a #trumpets .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551836465/Section%20Pages/Trumpets/thumbnail.jpg) top/cover no-repeat}.sections a #mellophones .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551895644/Section%20Pages/Mellophones/thumbnail.jpg) center/cover no-repeat}.sections a #baritones .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551834756/Section%20Pages/Baritones/thumbnail.jpg) center/cover no-repeat}.sections a #trombones .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload//q_auto/v1551960874/Section%20Pages/Trombones/thumbnail.jpg) center/cover no-repeat}.sections a #sousaphones .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551910607/Section%20Pages/Sousaphones/thumbnail.jpg) top/cover no-repeat}.sections a #managers .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551894929/Section%20Pages/Managers/header.jpg) center/cover no-repeat}.sections a #drum-majors .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/e_grayscale/v1551961361/Section%20Pages/Drum%20Majors/thumbnail.jpg) center/cover no-repeat}.sections a #twirlers .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/e_grayscale/v1551961464/Section%20Pages/Twirlers/thumbnail.jpg) center/cover no-repeat}.sections a #dancers .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/e_grayscale/v1551961320/Section%20Pages/Dancers/thumbnail.jpg) center/cover no-repeat}.sections a #guard .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551893877/Section%20Pages/Color%20Guard/thumbnail.jpg) center/cover no-repeat}.sections a #drumline .section{background:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961559/Section%20Pages/Drumline/thumbnail.jpg) center/cover no-repeat}.section-fullscreen-container{display:flex;height:calc(100vh - 2.5rem);width:100vw;flex-flow:column;background:#000}.section-heading{height:70vh;height:calc(85vh - 4.5rem);display:flex;justify-content:center;position:relative;overflow:hidden}.section-heading h1{margin-top:auto;width:95%;color:#fff;text-shadow:5px 5px 25px #000;z-index:2}.section-heading img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;z-index:1}.section-heading.trumpet img{top:70%}.section-heading.piccolo img{top:30%}.section-heading.clarinet img{top:70%}.section-quote{display:flex;min-height:calc(100vh - 85vh);width:95vw;padding:1.5rem 2.5%;background:#000;align-self:flex-end;flex-flow:column;justify-content:center;z-index:3}.section-quote p{width:100%;color:#fff;font-size:18pt}.section-quote p:nth-of-type(even){padding-top:.5rem;text-align:right}.section-pages.heading{margin-bottom:2.5rem}.section-leaders-content{display:flex;justify-content:space-evenly;align-items:center;width:100vw;margin-top:4rem}.section-leaders-content .section-leader{width:20%}.section-leaders-content .section-leader .section-leader-photo{width:100%;border-radius:50%;shape-outside:circle()}.section-leaders-content .section-leader p{text-align:center;font-size:18pt;margin:0;margin-top:1rem}.section-leaders-content .section-leader h3{text-align:center;padding:0;margin-top:1rem}.section-traditions{display:flex;flex-flow:row wrap}.section-traditions .tradition{display:flex}.section-traditions .tradition .tradition-tile{display:flex;justify-content:center;align-items:center;width:50%;overflow:hidden}.section-traditions .tradition .tradition-tile img{max-width:100%}.section-traditions .tradition .tradition-tile .tradition-text{padding:2rem;align-self:flex-start;font-size:18pt}.section-traditions .tradition .tradition-tile.clarinets img{max-height:100%}.media-container{position:relative;width:100vw;height:0;padding-top:56.25%;overflow:hidden;margin:0}.media-container *{position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%,-50%);z-index:-2}.media-container img{width:100%}.auditionButton{display:flex;flex-flow:row wrap;width:50vw;margin:auto;margin-top:2rem;margin-bottom:2rem;box-shadow:0 5px 10px rgba(0,0,0,.25),0 5px 10px rgba(0,0,0,.25)}.auditionButton .boxWrapper,.auditionButton .rect{width:auto;height:25vh;flex:1}#auditionToday{background-image:url(/img/clemson-tiger-band-ncstate-2016-428.jpg);background-size:cover;background-position:center}#auditionToday.clarinets{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551892365/Section%20Pages/Clarinets/recruiting-background.jpg);background-position-y:15%}#auditionToday.guard{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553898813/Section%20Pages/Color%20Guard/recruiting-background.jpg);background-position-y:75%}#auditionToday.managers{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551894757/Section%20Pages/Managers/recuriting-button.jpg);background-position-y:30%}#auditionToday.tenors{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551837444/Section%20Pages/Tenor%20Saxophones/header.jpg);background-position-y:30%}#auditionToday.trombone{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551960381/Section%20Pages/Trombones/recruiting-background.jpg)}#auditionToday.sousaphone{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1552785625/Section%20Pages/Sousaphones/recruiting-background.jpg);background-position-y:25%}#auditionToday.piccolo{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553371765/Section%20Pages/Piccolos/recruiting-background.jpg);background-position-y:15%}#auditionToday.alto{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553597202/Section%20Pages/Alto%20Saxophones/recruiting-background.jpg);background-position-y:60%}#auditionToday.mellophone{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553649432/Section%20Pages/Mellophones/recruiting-background.jpg);background-position-y:25%}#auditionToday.baritone{background-image:url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1553770132/Section%20Pages/Baritones/recruiting-background.jpg);background-position-y:30%}@media (max-width:1050px){.section-heading h1{font-size:54pt}.section-heading img{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);height:100%;width:auto}.section-heading.trumpet img{top:50%}.section-heading.piccolo img{top:50%}.section-heading.clarinet img{top:50%}}@media (max-width:800px){#boxUI.sections{margin-top:-.5rem}.section-heading{margin-top:-.5rem}.section-heading h1{text-align:center}.section-leaders-content{flex-flow:row wrap}.section-leaders-content .section-leader{width:50%;padding:1rem}.section-leaders-content .section-leader p{font-size:14pt}.section-quote{width:calc(100vw - 2rem);padding:1rem;margin:2rem 0}.section-quote p{font-size:14pt}.section-traditions .tradition .tradition-tile .tradition-text{font-size:14pt}.auditionButton{width:80vw}.auditionButton .boxWrapper,.auditionButton .rect{height:15vh}}@media (max-width:425px){.section-heading h1{font-size:36pt}}
#photoSlider{width:101.75%;margin:2rem 0}#photoSlider .controls{width:50%;margin:auto;margin-top:-2.5rem;text-align:center}img.slider{display:none;width:100%;box-shadow:0 2px 4px rgba(0,0,0,.2),0 2px 4px rgba(0,0,0,.2)}.dots{display:inline-block;height:1rem;width:1rem;border:1px solid #fff;border-radius:50%;transition:background .3s ease;cursor:pointer}.dots:hover{background:#fff}.dot-white{background:#fff}article.shows p{padding-left:2.5rem;color:#86898c}article.officers p{color:#86898c}article.officers b{color:#000}table{width:100%;border-collapse:collapse}tr:nth-child(even){background:rgba(246,103,51,.5)}tr:nth-child(10){background:rgba(82,45,128,.5)}th{padding:.5rem}td{padding:.5rem}td:first-child,td:nth-child(2){text-align:center}
@media (max-width:1455px){.iframeContainer{width:100%;margin:auto}.fullpageTitle{width:75%}.fullpageTitle h2{font-size:40pt}.fullpageTitle h1{font-size:65pt}nav a{font-size:11.5pt;-ms-flex-preferred-size:auto;flex-basis:auto}nav a.active{border-bottom-width:4px}.textContainer p{font-size:18pt}.boxWrapper:hover .boxUIelement{transform:scale(1.07)}#socMedContainer p{font-size:18pt}.socialBorder{border:2px solid #fff;width:3rem;height:3rem}.socialIcon{width:1.5rem;height:1.5rem;flex-wrap:wrap;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)}.auditionAudio{width:100%;text-align:center}.deadlines .textContainer p{font-size:2vw}.deadlines .textContainer b{font-size:7vw;line-height:3.5vw}.aboutLinks{margin:0;width:100%}.aboutLinks p{font-size:16pt}img.staffPortrait{width:35%}#music .expandButton img{margin-left:20rem}.fileUIfile{height:10rem;width:10rem}.fileUIfile span{height:2.5rem;font-size:16pt;line-height:2.5rem}.fileUIfile img{width:5rem;height:5rem}#contactInfo h5{font-size:20pt}#contactInfo p{font-size:14pt}#contactForm input[type=reset],#contactForm input[type=submit]{width:20vw}}@media (max-width:800px){body{margin-top:3rem}::-webkit-scrollbar{display:none}footer table:first-child,footer table:nth-child(2),footer table:nth-child(3),footer table:nth-child(4){display:none}footer #socMedContainer{display:none}footer table{font-size:10pt;width:100%}footer table:last-child td{text-align:center}#footerColsLayout{padding:1vw}nav{background:rgba(0,0,0,0);width:100vw;text-align:center;position:fixed;top:-35rem;left:0;display:flex;flex-flow:row wrap;align-content:flex-start;transition:all .3s ease}nav a{background:#fff;color:#181818;text-align:left;padding:.75rem 0 .75rem 2rem;flex-basis:100%;transition:.3s ease;transition-property:color,background;border-bottom:1px solid #86898c}nav a:hover{background:#f66733;color:#fff}nav a.active{background:#f66733;color:#fff;border-bottom:1px solid #86898c}#mobileHeader{width:100vw;height:2.5rem;margin:0;position:fixed;top:0;left:0;background:#fff;z-index:20;display:flex;justify-content:center;box-shadow:0 1px 3px rgba(0,0,0,.2),0 1px 3px rgba(0,0,0,.2);align-items:center}#mobileScreenShade{width:100vw;height:100vh;background:rgba(0,0,0,.5);position:fixed;top:0;left:0;z-index:9;display:none;transition:all .3s ease}#mobileMenu:checked~nav{top:2.5rem}#mobileMenu:checked~#mobileScreenShade{display:block}#menuButton,#mobileScreenShade{cursor:pointer}input[type=checkbox]{position:absolute;left:0;top:0;height:3rem;width:5.5em;margin:0;opacity:0;z-index:99;cursor:pointer}#menuButton{display:block;position:absolute;right:0;width:4rem;height:inherit}#tbMobileLogo{display:block;margin:.1rem;width:12rem}#menuButton{font-size:0;text-indent:-9999px;cursor:pointer}#menuButton span{display:block;position:absolute;top:50%;transform:translateY(-50%);left:1rem;right:1rem;height:2.5px;background:#86898c;transition:.3s ease;transition-property:background,-webkit-transform;transition-property:background,transform;transition-property:background,transform,-webkit-transform}#menuButton span::after,#menuButton span::before{position:absolute;display:block;left:0;width:100%;height:2.5px;background-color:#86898c;content:"";transition:.3s ease;transition-property:background,-webkit-transform;transition-property:background,transform;transition-property:background,transform,-webkit-transform}#menuButton span::before{top:-8px}#menuButton span::after{bottom:-8px}#menuButton:hover span{background:#f66733}#menuButton:hover span::after,#menuButton:hover span::before{background:#f66733}#mobileMenu:checked~#mobileHeader #menuButton span{background:0 0}#mobileMenu:checked~#mobileHeader #menuButton span::before{top:0;transform:rotate(45deg);background:#f66733}#mobileMenu:checked~#mobileHeader #menuButton span::after{bottom:0;transform:rotate(-45deg);background:#f66733}#homeFullscrContainer{background:url(/img/MobileBackground.jpg);background-size:cover;background-position:center;background-repeat:no-repeat}video#homeVideoBkg{display:none}#screenShadeHome{width:100vw;height:100vh;background:rgba(0,0,0,.25);background:-webkit-gradient(linear,left top,left bottom,color-stop(from(rgba(0,0,0,0)),75%,rgba(0,0,0,.25)),to(rgba(0,0,0,.8)));background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.25) 75%,rgba(0,0,0,.8) 100%);z-index:-1}.fullpageTitle{width:80%}.fullpageTitle h2{font-size:25pt}.fullpageTitle h1{font-size:40pt}.tbHomeLogo{position:absolute;left:1vh;bottom:1vh;width:6rem}.clemsonLogo{position:absolute;right:1vh;bottom:1vh;width:3rem}#boxUI a:nth-child(8){order:1}.boxUIelement.homepage::after{width:100%;height:2rem;position:absolute;bottom:0;left:0;background:rgba(0,0,0,.5);color:#fff;text-align:center;line-height:2rem;font-size:14pt;transition:opacity .3s ease}.boxUIelement.homepage:hover::after{opacity:0}#box2::after{content:"Drumline"}#box3::after{content:"YouTube"}#box4::after{content:"Newsletter"}#box5::after{content:"Donate"}#box7::after{content:"CUTBA"}#box8::after{content:"Join"}#box9::after{content:"Tiger Band Gear"}.boxUIelement{height:50vw;flex-grow:1;position:relative;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}.rect{width:100vw}.sq{width:50vw}.textContainer p{font-size:14pt}.boxWrapper:hover .boxUIelement{transform:scale(1.05)}#socMedContainer p{font-size:14pt}.socialBorder{border:1px solid #fff;width:3rem;height:3rem;margin:.5rem}.socialIcon{width:1.5rem;height:1.5rem}#socMedContainer.organizations #icons a{padding:0 .75rem}#content{width:95.5vw;width:calc(100vw - 1rem);margin:1rem auto}#Col2FlexContent.homepage{width:95.5vw;width:calc(100vw - 1rem);margin:1rem auto}#Col2FlexContent.homepage #col1Flex,#Col2FlexContent.homepage #col2Flex{width:100%;margin-left:-.5rem}#Col2FlexContent.homepage #col1Flex article,#Col2FlexContent.homepage #col2Flex article{width:97%;width:calc(100% - 4rem)}article{width:100%;margin:.5rem 0}article.text p{width:100%;padding:0;padding-top:.5rem}article.text h1{margin:0;font-weight:400}article.media h1{margin:0;font-weight:400}article.text h1{font-size:18pt;color:#f66733}article.text h2{font-size:13pt;color:#522d80;font-style:italic;margin:0}article.text p a{word-break:break-all}article.media h1{font-size:18pt;color:#522d80}.articleImg{width:100%;padding:0;margin:.5rem 0 .5rem 0}.expandButton{float:right;width:4rem}.expandButton span:first-child,.expandButton span:nth-child(2){height:.1rem;width:4rem;background:#000;display:block}h3{font-size:20pt}h4{font-size:28pt}.orangeText{color:#f66733}#heading{border-bottom:3px solid #f66733;margin:1rem 1rem}#Col2FlexContent{position:relative;left:50%;transform:translateX(-50%);margin:0}#col1Flex,#col2Flex{width:100%}.dots{height:1.25rem;width:1.25rem}article.shows p{padding-left:1.5rem}#col1Flex article,#col2Flex article{margin:1rem 0;width:100%;position:relative;left:50%;transform:translateX(-50%)}table{margin:0;padding:0}th{padding:.25rem}td{padding:.25rem}td:first-child,td:nth-child(2){text-align:center}#auditionBoxUI{display:flex;flex-flow:row wrap;width:90%;margin:1rem auto;justify-content:center}#auditionBoxUI .boxUIelement,#auditionBoxUI .boxWrapper{height:25vh;min-width:33vw;flex-grow:1}.deadlines{width:98%;width:calc(100% - 1rem);margin:1rem auto}.deadlines .textContainer p{font-size:3.25vw}.deadlines .textContainer b{font-size:10vw;line-height:3vw}.deadlines .sq{width:33vw;height:33vw;flex:1}.aboutLinks{margin:.5rem 0 1rem 0}.aboutLinks .boxUIelement{width:30vw;height:30vw}.aboutLinks p{font-size:14pt}img.staffPortrait{width:10rem;margin:.5rem 0 .5rem 0;padding:.5rem}input[name=password]{width:75%;font-size:18pt}.members h1{line-height:normal;margin:1rem}.members h2{margin:1rem}#music .expandButton img{float:right;margin-right:7.5vw;margin-top:-4.6rem}.fileUIfile{height:8rem;width:8rem}.fileUIfile span{height:2rem;font-size:16pt;line-height:2rem}.fileUIfile img{width:4rem;height:4rem}.sections .mobile-box{display:flex!important}.sections .main-box{display:none}.section-traditions .tradition .tradition-tile{width:100vw}.tradition{flex-flow:column}.tradition-tile.image{order:1}#contactWrapper{width:90vw;margin:0}#contactForm{width:100%;order:2}#contactForm input{font-size:12pt}textarea{font-size:12pt}#contactForm input{width:97.25%}#contactForm textarea{width:97.25%;height:10rem;max-height:30rem}#contactAddress{width:90vw;order:1}#contactTBlogo{display:none}#contactInfo{text-align:center;margin:1rem}h5{font-size:16pt;margin:.5rem}#contactInfo p{font-size:14pt}#socMedContainer.contact{padding:1.5rem;width:100%}#socMedContainer.contact #icons{width:80vw}#socMedContainer.contact .socialBorder{width:3rem;height:3rem}#socMedContainer.contact .socialIcon{width:1.5rem;height:1.5rem}#contactForm input[type=reset],#contactForm input[type=submit]{width:40vw}}@media (max-width:375px){.fullpageTitle h2{font-size:20pt;line-height:20pt}.fullpageTitle h1{font-size:36pt}td,th{padding:.15rem;font-size:11pt;text-align:center}#music .expandButton img{margin-right:5vw}}
/***** COLORS *****/
/***** GENERAL *****/
h6 {
  font-size: 72pt;
  font-weight: 700; }

h7 {
  font-size: 28pt;
  font-weight: 400; }

h8 {
  font-size: 18pt;
  margin-left: 2rem; }

/***** HOMEPAGE *****/
#homeFullscrContainer.drumline {
  background: url(../img/Main-Large-Picture.jpg) 50% 75%/cover no-repeat; }

#homepageTitle {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 60%;
  color: white;
  line-height: 1.5rem;
  border-top: 3px solid #F66733;
  border-bottom: 3px solid #F66733; }

.homepageNav {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  align-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F7F7F7; }
  .homepageNav .boxWrapper {
    margin-top: 1vw; }
  .homepageNav .boxUIelement {
    flex-grow: 1; }
  .homepageNav .rect {
    width: 32.6vw;
    height: 27.5vh; }
  .homepageNav p {
    font-size: 24pt; }
  .homepageNav a:first-child .boxWrapper, .homepageNav a:nth-child(2) .boxWrapper {
    margin-right: 1vw; }

.clemsonLogo {
  bottom: 30vh; }

#homepageNav1 {
  background-image: url(../img/clemson-tiger-band-syracuse-2016-433.jpg);
  background-size: cover;
  background-position: center; }

#homepageNav2 {
  background-image: url(../img/Music-Box-Picture.jpg);
  background-size: cover;
  background-position: center; }

#homepageNav3 {
  background-image: url(../img/Contact-Box-Picture.jpg);
  background-size: cover;
  background-position: center; }

#Col1FlexContent {
  display: flex;
  flex-flow: column wrap;
  width: 96.5vw;
  width: calc(100vw - 4rem);
  margin: auto; }

#Col1FlexContent article {
  width: 96%;
  width: calc(100% - 2rem);
  max-width: 800px;
  margin: 0.75rem auto; }

article p + img, article h1 + img {
  display: block;
  margin: auto;
  width: 25%; }

.sponsors {
  width: auto;
  height: auto;
  background: white;
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }
  .sponsors a {
    width: auto; }
    .sponsors a img {
      height: 15vh;
      width: auto;
      object-fit: cover; }

/***** AUDITIONS *****/
.deadlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 98%;
  width: calc(100% - 2.5rem);
  height: 100%;
  margin: 1.25rem; }
  .deadlines .textContainer {
    background: white;
    user-select: none; }
    .deadlines .textContainer p {
      width: 100%;
      font-size: 1.35vw;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease; }
    .deadlines .textContainer b {
      color: white;
      font-size: 7vw;
      line-height: 3.5vw;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease; }

.boxUIelement.clicked .textContainer p, .boxUIelement.clicked .textContainer b {
  color: #522D80; }

.month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .month .textContainer p, .month .textContainer b {
    color: #F66733; }
  .month.num1, .month.num3 {
    width: 26vw; }
  .month.num2 {
    width: 39vw; }

.deadlines .sq {
  width: 12.5vw;
  height: 12.5vw;
  background: none;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: box-shadow 300ms ease; }
  .deadlines .sq:hover {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2); }
    .deadlines .sq:hover p, .deadlines .sq:hover b {
      color: #522D80; }
  .deadlines .sq.clicked {
    z-index: 2; }

.deadlinesInfo {
  width: 100%;
  background: white;
  height: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: none 150ms ease;
  transition: none 150ms ease;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: height, transform;
  transition-property: height, transform, -webkit-transform; }
  .deadlinesInfo p {
    color: #522D80;
    margin: 1rem; }
  .deadlinesInfo.clicked {
    height: auto;
    background: white;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    z-index: 2; }

.auditionLinks {
  width: 95.5vw;
  height: 100%;
  margin-left: -1.25rem; }
  .auditionLinks .sq {
    width: 47.75vw;
    height: 12rem; }
  .auditionLinks p {
    font-size: 18pt; }

#Col2FlexContent.auditions {
  align-items: flex-start; }

.linkWrapper {
  display: flex;
  flex-flow: row wrap; }

.process {
  width: 90%;
  margin: 1rem auto 0 auto; }

.processItem {
  height: 17.5rem;
  width: 100%;
  margin: 0.75rem;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2); }
  .processItem:nth-child(odd) .date {
    background: #F66733; }
  .processItem:nth-child(even) .date {
    background: #522D80; }

.date {
  height: 100%;
  width: 17.5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }
  .date * {
    width: 100%;
    text-align: center;
    margin: 0;
    color: white; }

.processText {
  flex: 1;
  height: auto;
  background: white;
  display: flex;
  align-content: center;
  flex-flow: row wrap; }
  .processText ul, .processText p {
    width: 100%;
    padding: 0;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 1rem; }
  .processText p {
    margin-left: 2rem; }

.auditionLinks {
  display: flex;
  flex-flow: row nowrap;
  width: 95.5%;
  width: calc(100% - 2.5rem);
  height: 100%;
  margin: 1.25rem;
  align-content: center;
  text-align: center; }
  .auditionLinks .boxUIelement {
    flex-grow: 1;
    width: 25vw;
    height: 27.25vh; }
  .auditionLinks p {
    font-size: 20pt; }

/***** MUSIC *****/
h4 {
  padding-top: 2.5rem;
  margin-top: -2.5rem; }

table.music {
  width: 100%;
  padding: 1rem;
  margin: 1.5rem auto;
  background: white;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: none 150ms ease;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transfor;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform; }
  table.music a {
    color: #F66733; }
  table.music tr:nth-child(even) {
    background: white; }
  table.music tr:nth-child(odd) {
    background: white; }
  table.music tr:nth-child(12) {
    background: white; }
  table.music tr:nth-child(13) {
    background: white; }
  table.music tr:nth-child(14) {
    background: white; }
  table.music th {
    font-size: 18pt;
    font-weight: 400;
    background: #522D80;
    color: white; }
  table.music td {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray; }
  table.music td, table.music th {
    padding: 1rem; }

/***** MEDIA TAGS / BREAKPOINTS *****/
/***** SCREEN SIZES BELOW 1280PX *****/
@media (max-width: 1280px) {
  .iframeContainer {
    width: 100%;
    margin: auto; }
  #Col2FlexContent {
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  #col1Flex, #col2Flex {
    width: 100%;
    margin: 0;
    padding: 0; }
  #col1Flex article, #col2Flex article {
    margin: 1rem 0 1rem 0;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  /***** HOMEPAGE *****/
  #homepageTitle {
    width: 75%; }
    #homepageTitle h2 {
      font-size: 40pt; }
    #homepageTitle h1 {
      font-size: 70pt; }
  /***** NAVIGATION BAR ****/
  nav a {
    font-size: 11.5pt;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
    nav a.active {
      border-bottom-width: 4px; }
  /***** BOX UI *****/
  .textContainer p {
    font-size: 18pt; }
  .boxWrapper:hover .boxUIelement {
    -webkit-transform: scale(1.07);
    transform: scale(1.07); }
  #socMedContainer p {
    font-size: 18pt; }
  .socialBorder {
    border: 2px solid white;
    width: 3rem;
    height: 3rem; }
  .socialIcon {
    width: 1.5rem;
    height: 1.5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /***** AUDITIONS PAGE *****/
  .auditionAudio {
    width: 100%;
    text-align: center; }
  .process {
    width: 97.5%;
    width: calc(100% - 1.5rem);
    margin: 0; }
  .processItem {
    height: auto;
    flex-direction: column; }
  .date {
    width: 100%;
    align-items: center;
    justify-content: flex-start; }
    .date * {
      width: auto;
      margin: 0 1rem; }
  h6 {
    font-size: 32pt; }
  h7 {
    font-size: 24pt;
    order: 2; }
  h8 {
    margin: 1rem 0 0.5rem 2rem; }
  .processText ul, .processText p {
    width: 100%;
    padding: 0;
    margin: 0 0 1rem 2rem; }
  /***** STAFF SECTION ******/
  #aboutLinks p {
    font-size: 16pt; }
  img.staffPortrait {
    width: 25%; }
  article.expand .expandButton img {
    width: 5rem;
    margin: auto;
    margin-top: -0.65rem; }
  /***** MEMBERS ONLY PAGE *****/
  .expandButton img {
    margin-left: 20rem; }
  .fileUIfile {
    height: 10rem;
    width: 10rem; }
    .fileUIfile span {
      height: 2.5rem;
      font-size: 16pt;
      line-height: 2.5rem; }
    .fileUIfile img {
      width: 5rem;
      height: 5rem; }
  /***** CONTACT PAGE *****/
  #contactForm input[type="submit"], #contactForm input[type="reset"] {
    width: 20vw; } }

/**** MOBILE VERSION **** */
/**** SCREEN SIZES BELOW 800PX *****/
@media (max-width: 800px) {
  body {
    margin-top: 3rem; }
  ::-webkit-scrollbar {
    display: none; }
  footer table:first-child, footer table:nth-child(2), footer table:nth-child(3), footer table:nth-child(4) {
    display: none; }
  footer #socMedContainer {
    display: none; }
  footer table {
    width: 98vw;
    font-size: 10pt; }
    footer table:last-child td {
      text-align: center; }
  #footerColsLayout {
    padding: 1vw; }
  /***** MOBILE MENU *****/
  nav {
    background: rgba(0, 0, 0, 0);
    width: 100vw;
    text-align: center;
    position: fixed;
    top: -20rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
    nav a {
      background: white;
      color: #383838;
      text-align: left;
      padding: 0.75rem 0 0.75rem 2rem;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      -webkit-transition-property: color, background;
      transition-property: color, background;
      border-bottom: 1px solid #86898C; }
      nav a:hover {
        background: #F66733;
        color: white; }
      nav a.active {
        background: #F66733;
        color: white;
        border-bottom: 1px solid #86898C; }
  #mobileHeader {
    width: 100vw;
    height: 2.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #mobileScreenShade {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease; }
  #mobileMenu:checked ~ nav {
    top: 2.5rem; }
  #mobileMenu:checked ~ #mobileScreenShade {
    display: block; }
  #menuButton, #mobileScreenShade {
    cursor: pointer; }
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 5.5em;
    margin: 0;
    opacity: 0;
    z-index: 99;
    cursor: pointer; }
  #menuButton {
    display: block;
    position: absolute;
    right: 0;
    width: 4rem;
    height: inherit; }
  #tbMobileLogo {
    display: block;
    margin: 0.1rem;
    width: 12rem; }
  /** MENU BUTTON **/
  #menuButton {
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer; }
    #menuButton span {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 1rem;
      right: 1rem;
      height: 2.5px;
      background: #86898C;
      -webkit-transition: 300ms ease;
      transition: 300ms ease;
      -webkit-transition-property: background, -webkit-transform;
      transition-property: background, -webkit-transform;
      transition-property: background, transform;
      transition-property: background, transform, -webkit-transform; }
      #menuButton span::before, #menuButton span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2.5px;
        background-color: #86898C;
        content: "";
        -webkit-transition: 300ms ease;
        transition: 300ms ease;
        -webkit-transition-property: background, -webkit-transform;
        transition-property: background, -webkit-transform;
        transition-property: background, transform;
        transition-property: background, transform, -webkit-transform; }
      #menuButton span::before {
        top: -8px; }
      #menuButton span::after {
        bottom: -8px; }
    #menuButton:hover span {
      background: #F66733; }
      #menuButton:hover span::before, #menuButton:hover span::after {
        background: #F66733; }
  #mobileMenu:checked ~ #mobileHeader #menuButton span {
    background: none; }
    #mobileMenu:checked ~ #mobileHeader #menuButton span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      background: #F66733; }
    #mobileMenu:checked ~ #mobileHeader #menuButton span::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      background: #F66733; }
  /***** HOMEPAGE ****/
  #homepageTitle {
    width: 80%; }
    #homepageTitle h2 {
      font-size: 25pt; }
    #homepageTitle h1 {
      font-size: 40pt; }
  #tbHomeLogo {
    position: absolute;
    left: 1vh;
    bottom: 1vh;
    width: 6rem; }
  #clemsonLogo {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    width: 3rem; }
  .sponsors a {
    justify-content: center; }
    .sponsors a img {
      height: 10vh; }
  .dots {
    height: 1.25rem;
    width: 1.25rem; }
  img.staffPortrait {
    width: 10rem;
    margin: 0;
    padding: 1.25rem; }
  /***** BOX UI ****/
  .boxUIelement {
    height: 30vh;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease; }
  .rect {
    width: 100vw; }
  .sq {
    width: 50vw; }
  .textContainer p {
    font-size: 14pt; }
  .boxWrapper:hover .boxUIelement {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  #socMedContainer p {
    font-size: 14pt; }
  .socialBorder {
    border: 1px solid white;
    width: 3rem;
    height: 3rem;
    margin: 0.5rem; }
  .socialIcon {
    width: 1.5rem;
    height: 1.5rem; }
  /***** ARTICLES ****/
  #content {
    width: 95.5vw;
    width: calc(100vw - 1rem);
    margin: 1rem auto; }
  #Col2FlexContent.homepage {
    width: 95.5vw;
    width: calc(100vw - 1rem);
    margin: 1rem auto; }
    #Col2FlexContent.homepage #col1Flex, #Col2FlexContent.homepage #col2Flex {
      width: 100%;
      margin-left: -0.5rem; }
    #Col2FlexContent.homepage #col1Flex article, #Col2FlexContent.homepage #col2Flex article {
      width: 97%;
      width: calc(100% - 4rem); }
  article {
    width: 100%;
    margin: 0.5rem 0; }
    article.text p {
      width: 100%;
      padding: 0; }
    article.text h1 {
      font-size: 18pt;
      color: #F66733;
      margin: 0; }
    article.text h2 {
      font-size: 13pt;
      color: #522D80;
      font-style: italic;
      margin: 0; }
    article.media h1 {
      font-size: 18pt;
      color: #522D80;
      margin: 0; }
    article img {
      width: 100%;
      padding: 0;
      margin: 0.5rem 0 0.5rem 0; }
    article .expandButton {
      float: right;
      width: 4rem; }
  .expandButton img {
    float: right;
    margin-right: 5rem;
    margin-top: -4.75rem; }
  /***** OTHER PAGE HEADING FORMATTING ****/
  h3 {
    font-size: 20pt; }
  h4 {
    font-size: 28pt; }
  .orangeText {
    color: #F66733; }
  #heading {
    border-bottom: 3px solid #F66733;
    margin: 1rem 1rem; }
  /***** 2-COLUMN LAYOUT ****/
  #Col2FlexContent {
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  #col1Flex, #col2Flex {
    width: 100%;
    margin: 0;
    padding: 0; }
  #col1Flex article, #col2Flex article {
    margin: 1rem 0 1rem 0;
    width: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  /***** AUDITIONS PAGE ****/
  .deadlines {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 98%;
    width: calc(100% - 1rem);
    height: 100%;
    margin: 1rem auto; }
    .deadlines .textContainer p {
      font-size: 3.25vw; }
    .deadlines .textContainer b {
      font-size: 10vw;
      line-height: 3vw; }
  .month {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .month.num1, .month.num2 {
      width: 100%;
      margin-bottom: 1rem; }
    .month.num3 {
      width: 100%;
      margin-bottom: 1rem;
      margin-bottom: 0; }
  .deadlines .sq {
    width: 10rem;
    height: 10rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .auditionLinks {
    width: 95.5vw;
    height: 100%;
    margin-left: -1.25rem; }
    .auditionLinks .sq {
      width: 47.75vw;
      height: 12rem; }
    .auditionLinks p {
      font-size: 18pt; }
  /***** MUSIC ****/
  .fileUIfile {
    height: 8rem;
    width: 8rem; }
    .fileUIfile span {
      height: 2rem;
      font-size: 16pt;
      line-height: 2rem; }
    .fileUIfile img {
      width: 4rem;
      height: 4rem; }
  /***** CONTACT ****/
  #contactWrapper {
    width: 90vw;
    margin: 0; }
  #contactForm {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
    #contactForm input {
      font-size: 12pt; }
  textarea {
    font-size: 12pt; }
  #contactForm input {
    width: 97.25%; }
  #contactForm textarea {
    width: 97.25%;
    height: 10rem;
    max-height: 30rem; }
  #contactForm input[type="submit"], #contactForm input[type="reset"] {
    width: 40vw; }
  #contactAddress {
    width: 90vw;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  #contactTBlogo {
    display: none; }
  #contactInfo {
    text-align: center;
    margin: 1rem; }
  h5 {
    font-size: 16pt;
    margin: 0.5rem; }
  #contactInfo p {
    font-size: 14pt; }
  #socMedContainer.contact {
    padding: 1.5rem;
    width: 100%; }
    #socMedContainer.contact #icons {
      width: 80vw; }
    #socMedContainer.contact .socialBorder {
      width: 3rem;
      height: 3rem; }
    #socMedContainer.contact .socialIcon {
      width: 1.5rem;
      height: 1.5rem; } }

/**** SCREEN SIZES BELOW 425PX ****/
@media (max-width: 425px) {
  .deadlines .textContainer p {
    font-size: 3.95vw; }
  .deadlines .textContainer b {
    font-size: vw;
    line-height: 0; } }
