/***** SCREEN SIZES BELOW 1280PX *****/
@media (max-width: 1280px) {
	.iframeContainer {
        width: 100%;
        margin: auto
    }
    #Col2FlexContent {
		padding: 0;
        margin: 0;
		position: relative;
			left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#col1Flex, #col2Flex {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#col1Flex article, #col2Flex article{
		margin: 1rem 0 1rem 0;
		width: 100%;
		position: relative;
			left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
    /***** HOMEPAGE *****/
	#homepageTitle {
		width: 75%;
	}
	#homepageTitle h2 {
		font-size: 40pt;
	}
	#homepageTitle h1 {
		font-size: 70pt;
	}
	/***** NAVIGATION BAR ****/
	nav a {
		font-size: 11.5pt;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	nav a.active {
		border-bottom-width: 4px;
	}
	/***** BOX UI *****/
	.textContainer p {
		font-size: 18pt;
	}
	.boxWrapper:hover .boxUIelement {
		-webkit-transform: scale(1.07);
		transform: scale(1.07);
	}
	#socMedContainer p {
		font-size: 18pt;
	}
	.socialBorder {
		border: 2px solid white;
		width: 3rem;
		height: 3rem;
	}
	.socialIcon {
		width: 1.5rem;
		height: 1.5rem;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		position: absolute;
			left: 50%;
			top: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
    /***** AUDITIONS PAGE *****/
    .auditionAudio {
        width: 100%;
        text-align: center;
    }
    .process {
        width: 97.5%;
        width: calc(100% - 1.5rem);
        margin: 0;
    }
    .processItem {
        height: auto;
        flex-direction: column;
    }
    .date {
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }
    .date * {
        width: auto;
        margin: 0 1rem;
    }
    h6 {
        font-size: 32pt;
    }
    h7 {
        font-size: 24pt;
        order: 2;
    }
    h8 {
        margin: 1rem 0 0.5rem 2rem;
    }
    .processText ul, .processText p {
        width: 100%;
        padding: 0;
        margin: 0 0 1rem 2rem;
    }
	/***** STAFF SECTION ******/
	#aboutLinks p {
		font-size: 16pt;
	}
	img.staffPortrait {
		width: 25%;
	}
    article.expand .expandButton img{
        width: 5rem;
        margin: auto;
        margin-top: -0.65rem;
    }
    /***** MEMBERS ONLY PAGE *****/
    .expandButton img {
        margin-left: 20rem;
    }
    .fileUIfile {
        height: 10rem; width: 10rem;
    }
    .fileUIfile span {
        height: 2.5rem;
        font-size: 16pt;
        line-height: 2.5rem;
    }
    .fileUIfile img {
        width: 5rem; height: 5rem;
    }
    /***** CONTACT PAGE *****/
    #contactForm input[type="submit"], #contactForm input[type="reset"] {
        width: 20vw;
    }
}

/**** MOBILE VERSION *****/
/**** SCREEN SIZES BELOW 800PX *****/
@media (max-width: 800px) {
	body {
		margin-top: 3rem;
	}
    ::-webkit-scrollbar, footer table:first-child, footer table:nth-child(2), footer table:nth-child(3), footer table:nth-child(4), footer #socMedContainer {
        display: none;
    }
    footer table {
        width: 98vw;
        font-size: 10pt;
    }
    footer table:last-child td {
        text-align: center;
    }
    #footerColsLayout {
        padding: 1vw;
    }
	/***** MOBILE MENU *****/
	nav {
		background: rgba(0, 0, 0, 0);
		width: 100vw;
		text-align: center;
		position: fixed;
			top: -20rem;
			left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	nav a {
		background: white;
        color: #383838;
		text-align: left;
		padding: 0.75rem 0 0.75rem 2rem;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		-webkit-transition: 300ms ease;
		transition: 300ms ease;
		-webkit-transition-property: color, background;
		transition-property: color, background;
		border-bottom: 1px solid #86898C;
	}
	nav a:hover, nav a.active {
		background: #F66733;
		color: white;
	}
	nav a.active {
		border-bottom: 1px solid #86898C;
	}
	#mobileHeader {
		width: 100vw; height: 2.5rem;
		margin: 0;
		position: fixed;
			top: 0;
			left: 0;
		background: white;
		z-index: 20;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);
		box-shadow: 0 1px 3px rgba(0,0,0,0.2), 0 1px 3px rgba(0,0,0,0.2);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
	}
	#mobileScreenShade {
		width: 100vw; height: 100vh;
		background: rgba(0, 0, 0, 0.5);
		position: fixed;
			top: 0;
			left: 0;
		z-index: 9;
		display: none;
		-webkit-transition: all 300ms ease;
		transition: all 300ms ease;
	}
	#mobileMenu:checked ~ nav{
        top: 2.5rem;
    }
    #mobileMenu:checked ~ #mobileScreenShade{
        display: block;
    }
    #menuButton, #mobileScreenShade {
        cursor: pointer;
    }
    input[type="checkbox"] {
        position: absolute;
            left: 0;
            top: 0;
        height: 3rem;
        width: 5.5em;
		margin: 0;
        opacity: 0;
        z-index: 99;
		cursor: pointer;
    }
     #menuButton {
        display: block;
        position: absolute;
			right: 0;
		width: 4rem;
		height: inherit;
    }
	#tbMobileLogo {
		display: block;
		margin: 0.1rem;
		width: 12rem;
	}
	/** MENU BUTTON **/
	#menuButton {
		font-size: 0;
		text-indent: -9999px;
		cursor: pointer;
	}
	#menuButton span {
		display: block;
	  	position: absolute;
	  	top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	  	left: 1rem;
	  	right: 1rem;
	  	height: 2.5px;
	  	background: #86898C;
		-webkit-transition: 300ms ease;
		transition: 300ms ease;
		-webkit-transition-property: background, -webkit-transform;
		transition-property: background, -webkit-transform;
		transition-property: background, transform;
		transition-property: background, transform, -webkit-transform;
	}
	#menuButton span::before,
	#menuButton span::after {
	  	position: absolute;
	  	display: block;
	  	left: 0;
	  	width: 100%;
	  	height: 2.5px;
		background-color: #86898C;
		content: "";
		-webkit-transition: 300ms ease;
		transition: 300ms ease;
		-webkit-transition-property: background, -webkit-transform;
		transition-property: background, -webkit-transform;
		transition-property: background, transform;
		transition-property: background, transform, -webkit-transform;
	}
	#menuButton span::before  {
		top: -8px;
	}
	#menuButton span::after {
		bottom: -8px;
	}
	#menuButton:hover span, #menuButton:hover span::before, #menuButton:hover span::after {
		background: #F66733;
	}
	#mobileMenu:checked ~ #mobileHeader #menuButton span {
		background: none;
	}
	#mobileMenu:checked ~ #mobileHeader #menuButton span::before {
		top: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		background: #F66733;
	}
	#mobileMenu:checked ~ #mobileHeader #menuButton span::after {
		bottom: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		background: #F66733;
	}
	/***** HOMEPAGE *****/
	#homepageTitle {
		width: 80%;
	}
	#homepageTitle h2 {
		font-size: 25pt;
	}
	#homepageTitle h1 {
		font-size: 40pt;
	}
	#tbHomeLogo {
		position: absolute;
			left: 1vh; bottom: 1vh;
		width: 6rem;
	}
	#clemsonLogo {
		position: absolute;
			right: 1vh;
			bottom: 1vh;
		width: 3rem;
	}
    .sponsors a {
        justify-content: center;
    }
    .sponsors a img {
        width: 50%;
    }
    .sponsors a img:first-child, .sponsors a img:nth-child(2) {
        width: 60%;
    }
    .dots {
		height: 1.25rem;
		width: 1.25rem;
	}
    img.staffPortrait {
		width: 10rem;
		margin: 0 ;
		padding: 1.25rem;
	}
	/***** BOX UI *****/
	.boxUIelement {
		height: 30vh;
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		position: relative;
		-webkit-transition: -webkit-transform 300ms ease;
		transition: -webkit-transform 300ms ease;
		transition: transform 300ms ease;
		transition: transform 300ms ease, -webkit-transform 300ms ease;
	}
	.rect {
		width: 100vw
	}
	.sq {
		width: 50vw;
	}
	.textContainer p {
		font-size: 14pt;
	}
	.boxWrapper:hover .boxUIelement {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
	#socMedContainer p {
		font-size: 14pt;
	}
	.socialBorder {
		border: 1px solid white;
		width: 3rem; height: 3rem;
		margin: 0.5rem;
	}
	.socialIcon {
		width: 1.5rem; height: 1.5rem;
	}
	/***** ARTICLES *****/
	#content, #Col2FlexContent.homepage {
      width: 95.5vw;
      width: calc(100vw - 1rem);
      margin: 1rem auto;
      }
    #Col2FlexContent.homepage #col1Flex, #Col2FlexContent.homepage #col2Flex {
        width: 100%;
        margin-left: -0.5rem;
    }
    #Col2FlexContent.homepage #col1Flex article, #Col2FlexContent.homepage #col2Flex article {
        width: 97%;
        width: calc(100% - 4rem);
    }
    article {
        width: 100%;
        margin: 0.5rem 0 ;
    }
    article.text p {
		width: 100%;
		padding: 0;
	}
	article.text h1 {
		font-size: 18pt;
		color: #F66733;
		margin: 0;
	}
	article.text h2 {
		font-size: 13pt;
		color: #522D80;
		font-style: italic;
		margin: 0;
	}
	article.media h1 {
		font-size: 18pt;
		color: #522D80;
		margin: 0;
	}
	article img {
		width: 100%;
		padding: 0;
		margin: 0.5rem 0 0.5rem 0;
	}
    article .expandButton {
        float: right;
        width: 4rem;
    }
    .expandButton img {
        float: right;
        margin-right: 5rem;
        margin-top: -4.75rem;
    }
	/***** OTHER PAGE HEADING FORMATTING *****/
	h3 {
		font-size: 20pt;
	}
	h4 {
		font-size: 28pt;
	}
	.orangeText {
		color: #F66733;
	}
	#heading {
		border-bottom: 3px solid #F66733;
		margin: 1rem 1rem;
	}
	/***** 2-COLUMN LAYOUT *****/
	#Col2FlexContent {
		padding: 0;
        margin: 0;
		position: relative;
			left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	#col1Flex, #col2Flex {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#col1Flex article, #col2Flex article{
		margin: 1rem 0 1rem 0;
		width: 100%;
		position: relative;
			left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
    /***** AUDITIONS PAGE *****/
    .deadlines .textContainer p{
        font-size: 3.25vw;
    }
    .deadlines .textContainer b{
        font-size: 10vw;
        line-height: 3vw;
    }
    .deadlines {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 98%;
        width: calc(100% - 1rem);
        height: 100%;
        margin: 1rem auto;
    }
    .month {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    }
    .month.num1, .month.num2, .month.num3 {
        width: 100%;
        margin-bottom: 1rem;
    }
    .month.num3 {
        margin-bottom: 0;
    }
    .deadlines .sq {
        width: 10rem;
        height: 10rem;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
	.auditionLinks {
		width: 95.5vw;
		height: 100%;
		margin-left: -1.25rem;
	}
	.auditionLinks .sq {
		width: 47.75vw;
		height: 12rem;
	}
	.auditionLinks p {
		font-size: 18pt;
	}

	/***** MUSIC *****/
    .fileUIfile {
        height: 8rem; width: 8rem;
    }
    .fileUIfile span {
        height: 2rem;
        font-size: 16pt;
        line-height: 2rem;
    }
    .fileUIfile img {
        width: 4rem; height: 4rem;
    }
	/***** CONTACT *****/
	#contactWrapper {
		width: 90vw;
		margin: 0;
	}
	#contactForm {
		width: 100%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
	}
	#contactForm input, textarea{
		font-size: 12pt;
	}
	#contactForm input {
		width: 97.25%;
	}
	#contactForm textarea {
		width: 97.25%; height: 10rem;
		max-height: 30rem;
	}
    #contactForm input[type="submit"], #contactForm input[type="reset"] {
        width: 40vw;
    }
	#contactAddress {
		width: 90vw;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	#contactTBlogo {
		display: none;
	}
	#contactInfo {
		text-align: center;
		margin: 1rem;
	}
	h5 {
		font-size: 16pt;
		margin: 0.5rem;
	}
	#contactInfo p {
		font-size: 14pt;
	}
	#socMedContainer.contact {
		padding: 1.5rem;
		width: 100%;
	}
	#socMedContainer.contact #icons {
		width: 80vw;
	}
	#socMedContainer.contact .socialBorder {
		width: 3rem; height: 3rem;
	}
	#socMedContainer.contact .socialIcon {
		width: 1.5rem; height: 1.5rem;
	}
}

/**** SCREEN SIZES BELOW 425PX *****/
@media (max-width: 425px) {
    .deadlines .textContainer p{
        font-size: 3.95vw;
    }
    .deadlines .textContainer b{
        font-size: vw;
        line-height: 0;
    }
}
