/***** COLORS *****/
/***** AUDITION PAGE *****/
.about #col1Flex {
  align-self: flex-start; }

.deadlines {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 98%;
  width: calc(100% - 2.5rem);
  height: 100%;
  margin: 1.25rem; }
  .deadlines .textContainer {
    background: white;
    user-select: none; }
    .deadlines .textContainer p {
      width: 100%;
      font-size: 1.75vw;
      transition: color 300ms ease; }
    .deadlines .textContainer b {
      color: white;
      font-size: 6.5vw;
      line-height: 3.5vw;
      transition: color 300ms ease; }

.boxUIelement.clicked .textContainer p, .boxUIelement.clicked .textContainer b {
  color: #F66733; }

.month {
  display: flex;
  flex-flow: row wrap; }
  .month .textContainer p, .month .textContainer b {
    color: #522D80; }
  .month .textContainer:hover {
    background: white; }
  .month.num1, .month.num3 {
    width: 26vw; }
  .month.num2 {
    width: 39vw; }

.deadlines .sq {
  width: 12.5vw;
  height: 12.5vw;
  background: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  cursor: pointer;
  transition: box-shadow 300ms ease; }
  .deadlines .sq:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2); }
    .deadlines .sq:hover p, .deadlines .sq:hover b {
      color: #F66733; }
  .deadlines .sq.clicked {
    z-index: 2; }

.deadlinesInfo {
  width: 100%;
  background: white;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: none 150ms ease;
  transition-property: height, -webkit-transform;
  transition-property: height, transform;
  transition-property: height, transform, -webkit-transform; }
  .deadlinesInfo p {
    color: #F66733;
    margin: 1rem; }
  .deadlinesInfo.clicked {
    height: auto;
    background: white;
    transform: scaleY(1);
    z-index: 2; }

#audioContainer {
  display: flex;
  flex-flow: row wrap; }

.auditionAudio {
  width: 50%;
  text-align: center; }

article.text h1.purpleText {
  color: #522D80; }

article.fullWidth p {
  width: 100%; }

article.expand {
  cursor: pointer;
  position: relative; }
  article.expand.clicked .staffBio {
    display: block;
    overflow: auto;
    height: 100%; }
  article.expand .staffBio {
    display: none; }
  article.expand.clicked .expandButton img {
    transform: rotateX(180deg); }
