/***** COLORS *****/
/***** CONTACT PAGE *****/
#contactWrapper {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  width: 92.5vw;
  width: calc(100% - 5rem);
  margin: 2rem 0;
  padding: 1rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

#contactForm {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 47.5%;
  width: calc(50% - 2rem);
  padding: 1rem; }
  #contactForm input, #contactForm textarea {
    width: 100%;
    font-size: 14pt;
    border: none;
    padding: 0;
    margin-bottom: 1.5rem;
    background: none;
    transition: none 300ms ease-in-out;
    transition-property: background, border, color; }
  #contactForm input[type="text"], #contactForm input[type="email"] {
    border-bottom: 2px solid #86898C; }
  #contactForm textarea {
    height: 10rem;
    max-height: 20rem;
    max-width: 98%;
    max-width: calc(100% - 1rem);
    border: 2px solid #86898C;
    padding: 0.5rem; }
  #contactForm input:focus, #contactForm textarea:focus {
    outline: none; }
  #contactForm input[type="text"]:focus, #contactForm input[type="email"]:focus {
    border-bottom: 2px solid #F66733; }
  #contactForm textarea:focus {
    border: 2px solid #F66733; }
  #contactForm input[type="submit"], #contactForm input[type="reset"] {
    width: 12vw;
    margin: 0 auto;
    border: 2px solid #F66733;
    color: #F66733;
    cursor: pointer;
    padding: 0.5rem; }
  #contactForm input[type="submit"]:hover, #contactForm input[type="reset"]:hover {
    background: #F66733;
    color: white;
    border: 2px solid #F66733; }

#contactAddress {
  width: 50%; }

#contactTBlogo {
  display: block;
  width: 40%;
  margin: auto; }

#contactInfo {
  text-align: center;
  margin-top: 1rem; }

h5 {
  font-size: 24pt;
  margin: 0.75rem; }

#contactInfo p {
  margin: 0;
  font-size: 16pt; }

#socMedContainer.contact {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #F66733;
  padding: 1rem;
  width: 95%; }
  #socMedContainer.contact #icons {
    flex-flow: row wrap;
    width: 30rem;
    margin: auto; }
    #socMedContainer.contact #icons div {
      margin: 0.5rem; }
  #socMedContainer.contact.submit {
    position: absolute;
    top: 85vh; }
