/***** COLORS *****/
/***** STYLES *****/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h4, strong {
  font-weight: 700; }

h2, h3 {
  font-weight: 400; }

h1 {
  font-size: 95pt; }

h2 {
  font-size: 55pt; }

h3 {
  font-size: 28pt;
  color: #F66733;
  margin: 0; }

h4 {
  font-size: 36pt;
  color: #F66733;
  margin: 0; }

.heading {
  border-bottom: 3px solid #F66733;
  margin: 1rem 1.5rem;
  margin-top: 3.5rem;
  padding: 0; }

/***** GENERAL FORMATTING ****/
html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #FAFAFA;
  overflow-x: hidden; }

body {
  margin: 0;
  min-height: 95.5%;
  min-height: calc(100% - 3.5rem);
  margin-top: 2.5rem; }

a {
  color: #522D80;
  text-decoration: none; }

a.richLink {
  text-decoration: none;
  color: #522D80;
  background: white;
  font-size: 16pt;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 45%;
  transition: none 150ms ease;
  word-break: keep-all;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform; }

.cta {
  color: white;
  background: #522D80; }

a.richLink:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-1px); }

#mobileHeader, #menuButton, #mobileMenu, #mobileScreenShade, .hide {
  display: none; }

.show {
  display: block; }

/***** OTHER PAGE HEADING FORMATTING *****/
.purpleText {
  color: #522D80; }

/***** DOUBLE COLUMN ARTICLE LAYOUT *****/
#Col2FlexContent {
  display: flex;
  flex-flow: row wrap;
  width: 96.5vw;
  width: calc(100vw - 4rem);
  margin: auto;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  padding-top: 0;
  align-items: flex-start; }

#col1Flex, #col2Flex {
  width: calc(50% - 1rem);
  margin: 0;
  padding: 0; }

#col1Flex article, #col2Flex article {
  width: 96%;
  width: calc(100% - 2rem); }
