/***** COLORS *****/
/***** HOMEPAGE *****/
/***** FULLSCREEN HOMEPAGE IMAGE/VIDEO & TITLE *****/
#homeFullscrContainer {
  position: relative;
  margin-top: -2.5rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  @media (max-width: 800px) {
    #homeFullscrContainer {
      height: 105vh;
      background: url("https://res.cloudinary.com/clemson-university-tiger-band/image/upload/v1559177783/Home%20page/home-background-mobile.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0;
      border-radius: 0 0 10px 10px; } }
  #homeFullscrContainer #screenShade {
    width: 100vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(from(rgba(0, 0, 0, 0.3)), 75%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.8)));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.8) 100%);
    z-index: -1; }
    #homeFullscrContainer #screenShade::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100%;
      background: black;
      z-index: -2; }
    @media (max-width: 800px) {
      #homeFullscrContainer #screenShade {
        background: rgba(0, 0, 0, 0.35); } }
  #homeFullscrContainer video#homeVideoBkg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -2; }

.fullpageTitle {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  color: white;
  line-height: 1.5rem;
  border-top: 3px solid #F66733;
  border-bottom: 3px solid #F66733;
  animation: fadeIn 500ms ease-in-out; }
  @media (max-width: 800px) {
    .fullpageTitle {
      width: 80%; }
      .fullpageTitle h2 {
        font-size: 25pt; }
      .fullpageTitle h1 {
        font-size: 40pt; } }

.tbHomeLogo, .clemsonLogo {
  animation: fadeIn 500ms ease-in-out; }
  @media (max-width: 800px) {
    .tbHomeLogo, .clemsonLogo {
      display: none; } }

.tbHomeLogo {
  position: absolute;
  left: 0.5vw;
  bottom: 1vh;
  width: 12rem; }

.clemsonLogo {
  position: absolute;
  right: 1vw;
  bottom: 2vh;
  width: 6rem; }

/*****BOX UI*****/
/** STYLING **/
#boxUI a, #auditionBoxUI a, #rgBoxUI a, .aboutLinks a, .homepageNav a {
  text-decoration: none; }

#boxUI {
  display: flex;
  flex-wrap: wrap;
  width: 100vw; }
  @media (max-width: 800px) {
    #boxUI a:nth-child(1) {
      order: 9;
      margin: 1rem 0 0 0; }
    #boxUI a:nth-child(4) {
      display: none; }
    #boxUI a:nth-child(8) {
      order: 1; } }

.boxWrapper {
  overflow: hidden;
  position: relative; }
  .boxWrapper:hover .boxUIelement {
    transform: scale(1.1); }
  @media (max-width: 800px) {
    .boxWrapper {
      width: 40vw;
      height: 40vw;
      padding: 5vw;
      padding-bottom: 2rem; }
      .boxWrapper.tigerbandmedia {
        width: 100vw;
        padding: 0; } }

.boxUIelement {
  height: 33vh;
  flex-grow: 1;
  position: relative;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease; }
  @media (max-width: 800px) {
    .boxUIelement {
      border-radius: 10px;
      height: inherit;
      margin-bottom: 2rem;
      flex-grow: 1;
      position: relative;
      transition: transform 300ms ease;
      transition: transform 300ms ease, -webkit-transform 300ms ease; }
      .boxUIelement.homepage::after {
        width: 100%;
        height: 2rem;
        position: absolute;
        bottom: -2rem;
        left: 0;
        color: #181818;
        text-align: left;
        line-height: 2rem;
        font-size: 14pt;
        font-weight: 700;
        transition: opacity 300ms ease; }
      .boxUIelement.homepage:hover::after {
        opacity: 0; } }

.rect {
  width: 50vw; }
  @media (max-width: 800px) {
    .rect {
      width: inherit;
      height: inherit; } }

.sq {
  width: 25vw; }
  @media (max-width: 800px) {
    .sq {
      width: inherit;
      height: inherit; } }

.purp {
  background: #522D80; }

.orange {
  background: #F66733; }

.white {
  background: white; }

/** PHOTOS **/
#box1.homepage {
  background: url(/img/logos/tigerbandmedia.png) center/80% no-repeat, url(/img/TigerBandMediaBackground.jpg); }
  @media (max-width: 800px) {
    #box1.homepage {
      width: 100vw; } }

#box2.homepage {
  background: url(/img/clemson-tiger-band-syracuse-2016-526.jpg) center/cover; }
  @media (max-width: 800px) {
    #box2.homepage::after {
      content: "Drumline"; } }

#box3.homepage {
  background: white url(/img/logos/YouTube.png) center/50% no-repeat; }
  @media (max-width: 800px) {
    #box3.homepage::after {
      content: "YouTube"; } }

#box4.homepage {
  background: url(/img/clemson-tiger-band-fiesta-bowl-2016-734.jpg) center/cover; }

#box5.homepage {
  background: url(/img/clemson-tiger-band-pitt-2016-713.jpg) center/cover; }
  @media (max-width: 800px) {
    #box5.homepage::after {
      content: "Donate"; } }

@media (max-width: 800px) {
  #box6.homepage {
    display: none; } }

#box7.homepage {
  background: #522D80 url(/img/logos/CUTBA.svg) center/60% no-repeat; }
  @media (max-width: 800px) {
    #box7.homepage::after {
      content: "CUTBA"; } }

#box8.homepage {
  background: url(/img/clemson-tiger-band-syracuse-2016-1054.jpg) center/cover; }
  @media (max-width: 800px) {
    #box8.homepage::after {
      content: "Join"; } }

#box9.homepage {
  background: url(/img/clemson-tiger-band-syracuse-2016-189.jpg) center/cover; }
  @media (max-width: 800px) {
    #box9.homepage::after {
      content: "Merch"; } }

/** TEXT **/
.textContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition: background 300ms ease; }
  .textContainer:hover {
    background: rgba(0, 0, 0, 0.6); }
  .textContainer.hide:hover {
    background: rgba(0, 0, 0, 0.6); }
    .textContainer.hide:hover p {
      opacity: 1; }
  .textContainer p {
    font-size: 24pt;
    text-align: center;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: opacity 300ms ease; }
  .textContainer.hide {
    background: none; }
    .textContainer.hide p {
      opacity: 0; }

/** SOCIAL MEDIA **/
#socMedContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #socMedContainer p {
    color: white;
    text-align: center;
    font-size: 24pt;
    margin-bottom: 0.5rem; }
  #socMedContainer #icons {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #socMedContainer #icons .socialBorder {
      border: 1px solid white;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      transition: background-color 300ms ease;
      cursor: pointer;
      position: relative; }
    #socMedContainer #icons #webLink, #socMedContainer #icons #twitter, #socMedContainer #icons #facebook, #socMedContainer #icons #instagram, #socMedContainer #icons #snapchat {
      background: #F66733; }
    #socMedContainer #icons #webLink:hover {
      background: #86898C; }
    #socMedContainer #icons #twitter:hover {
      background: #1da1f2; }
    #socMedContainer #icons #facebook:hover {
      background: #3b5998; }
    #socMedContainer #icons #instagram:hover {
      background: #e1306c;
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
    #socMedContainer #icons #snapchat:hover {
      background: #FFFc00; }
      #socMedContainer #icons #snapchat:hover img {
        filter: drop-shadow(0 0 0.5px black); }
    #socMedContainer #icons #youtube:hover {
      background: #ff0000; }
    #socMedContainer #icons .socialIcon {
      width: 2rem;
      height: auto;
      flex-wrap: wrap;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

#socMedContainer.organizations {
  padding: 1rem 0;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center; }
  #socMedContainer.organizations #icons {
    width: 50%;
    justify-content: center; }
    #socMedContainer.organizations #icons a {
      padding: 0 1.5rem; }

/***** HOMEPAGE ARTICLES *****/
#content, #Col2FlexContent.homepage {
  display: flex;
  flex-flow: row wrap;
  width: 96.5vw;
  width: calc(100vw - 4rem);
  margin: auto;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  padding-top: 0;
  align-items: flex-start; }

#content.centered {
  justify-content: center; }

article {
  width: calc(50% - 4rem);
  margin: 1.5rem 0 0 0;
  padding: 1.5rem;
  background: white;
  overflow: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: none 150ms ease;
  transition-property: -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, transform;
  transition-property: box-shadow, transform, -webkit-box-shadow, -webkit-transform; }
  article.fullWidth p {
    width: 100%; }
  article img.fullSize {
    width: 75%; }
  article.text h1, article.media h1 {
    margin: 0;
    font-weight: 400; }
  article.text h1, article.media h1 {
    font-size: 24pt;
    color: #F66733; }
  article.text h2, article.media h2 {
    font-size: 14pt;
    font-weight: 400;
    color: #522D80;
    font-style: italic;
    margin: 0; }
  article.text p, article.media p {
    padding: 0.5rem 0;
    margin: 0; }
  article.media h1 {
    color: #522D80; }
  article.media p {
    padding: 0.5rem 0;
    margin: 0; }

#col1Flex > a, #col2Flex > a {
  text-decoration: none;
  color: black; }

.articleImg {
  width: 70%;
  float: right;
  padding: 0.5rem; }

.iframeContainer {
  width: 75%;
  margin: auto; }

.iFrameAspectRatio {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  margin: auto;
  height: 0; }
  .iFrameAspectRatio iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
