/***** COLORS *****/
/***** ANIMATION KEYFRAMES ****/
@-webkit-keyframes bounceDown {
  0%, 50%, 100% {
    transform: translateY(0); }
  25%, 75% {
    transform: translateY(0.5rem); } }

@keyframes bounceDown {
  0%, 50%, 100% {
    transform: translateY(0); }
  25%, 75% {
    transform: translateY(0.5rem); } }

@-webkit-keyframes bounceUp {
  0%, 50%, 100% {
    transform: translateY(0); }
  25%, 75% {
    transform: translateY(-0.5rem); } }

@keyframes bounceUp {
  0%, 50%, 100% {
    transform: translateY(0); }
  25%, 75% {
    transform: translateY(-0.5rem); } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes shake {
  0%, 100% {
    transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-7px, 0); }
  20%, 40%, 60%, 80% {
    transform: translate(7px, 0); } }

@keyframes shake {
  0%, 100% {
    transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(-7px, 0); }
  20%, 40%, 60%, 80% {
    transform: translate(7px, 0); } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
