@import "variables"

body.mobile-nav 
  background-color: #F8F8F8

  #menuButton span
    background: $clemson-orange
    &::before, &::after
      background: $clemson-orange
    
  
.logos-container
  display: flex
  justify-content: center
  align-items: center
  padding: 2rem 1rem

  .clemson-paw
    width: 20%
    max-width: 5rem

  .line
    width: 0.15rem
    height: 4rem
    border-radius: 50px
    background-color: #F66733
    margin: 0 0.5rem

  .tiger-band-logo
    width: 25%
    max-width: 7rem

.horizontal-slider
  display: flex
  flex-direction: row
  flex-wrap: nowrap

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  .nav-card
    display: flex
    width: 13rem

    flex-direction: column
    flex: 0 0 auto;

    border-radius: 10px
    box-shadow: 3px 3px 6px rgba(0,0,0, .38)

    margin-bottom: 1rem
    margin-left: 1rem

    .nav-card__image
      width: 100%
      height: 30vh
      padding: 0
      border-radius: 10px 10px 0 0
      vertical-align: middle
      object-fit: cover

    .nav-card__content
      padding: 0 .25rem

      h1
        font-size: 18px
        color: $text-bold
        margin: 0
        margin-top: .5rem
        margin-bottom: 0.1rem
      
      p
        font-size: 14px
        color: $text-regular
        margin: 0
        margin-bottom: 0.25rem

.home-contact-button-container
  display: flex

  width: 100vw
  margin: 2rem 0 3rem 0

  justify-content: space-around

  .home-button
    display: flex
    flex-direction: column

    justify-content: center
    align-items: center
    
    .home-icon-container
      display: flex
      justify-content: center
      width: 3.2rem
      height: 3.2rem

      border-radius: 10px

      box-shadow: 3px 3px 6px rgba(0,0,0, .38)

      background-image: url("/img/icons/home.png")
      background-repeat: no-repeat
      background-position-x: 50%
      background-position-y: 50%

      &#contact
        background-image: url("/img/icons/mail.png")
  
    .home-button-label
      font-size: 18px
      color: $text-bold
      margin: 0

.long-pill-button
  display: flex
  position: relative
  width: 75vw
  height: 2.5rem

  border-radius: 50px
  box-shadow: 3px 3px 6px rgba(0,0,0, .38)

  background-color: $clemson-orange

  justify-content: center
  align-items: center

  left: 12.5%

  margin-bottom: 1.5rem

  .long-pill-button-label
    font-size: 18px
    color: white
    margin: 0

