@import "variables"

/***** NAVIGATION BAR ***/
nav
  background: #181818
  width: 100vw
  text-align: center
  position: fixed
  top: 0
  left: 0
  display: flex
  flex-flow: row nowrap
  justify-content: space-around
  z-index: 9
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2)
  a
    color: #D3D3D3
    text-decoration: none
    font-weight: 700
    font-size: 12.5pt
    padding: 0.75rem 0 0.5rem 0
    flex: 1 0 7.14%
    transition: color 300ms ease
    &:hover, &.active
      color: white
    &:active
      background: #383838
    &.active
      border-bottom: 3px solid $clemson-orange
      transition: border-bottom 300ms ease
