@import "variables"

.sections
  margin-top: -1rem

.boxWrapper.title
  &:hover .boxUIelement
    transform: none
  .textContainer
    background: $matte-black
    p
      font-size: 36pt
      font-weight: 700
    &:hover
      background: $matte-black

.sections a
  &:nth-child(1) .section
    background: url(/img/piccolos.jpg) (center / cover) no-repeat
  &:nth-child(3) .section
    background: url(/img/clarinets.jpg) (center / cover) no-repeat
  &:nth-child(4) .section
    background: url(/img/clemson-tiger-band-natty-2016-356.jpg) (center / cover) no-repeat
  &:nth-child(5) .section
    background: url(/img/clemson-tiger-band-pitt-2016-570.jpg) (center / cover) no-repeat
  &:nth-child(6) .section
    background: url(/img/trumpets.jpg) (top / cover) no-repeat
  &:nth-child(7) .section
    background: url(/img/mellophones.jpg) (center / cover) no-repeat
  &:nth-child(8) .section
    background: url(/img/baritones.jpg) (center / cover) no-repeat
  &:nth-child(9) .section
    background: url(/img/trombones.jpg) (center / cover) no-repeat
  &:nth-child(10) .section
    background: url(/img/clemson-tiger-band-fiesta-bowl-2016-734.jpg) (center / cover) no-repeat
  &:nth-child(11) .section
    background: url(/img/logos/clemsonPaw.svg) (center / 50%) no-repeat
  &:nth-child(12) .section
    background: url(/img/trey.jpg) (center / cover) no-repeat
  &:nth-child(13) .section
      background: url(/img/clemson-tiger-band-auburn-2017-298.jpg) (center / cover) no-repeat
  &:nth-child(14) .section
    background: url(/img/clemson-tiger-band-bc-2017-468.jpg) (center / cover) no-repeat
  &:nth-child(15) .section
    background: url(/img/clemson-tiger-band-bc-2017-178.jpg) (center / cover) no-repeat
  &:nth-child(16) .section
    background: url(/img/clemson-tiger-band-fiesta-bowl-2016-726.jpg) (center / cover) no-repeat
