@import "variables"
$description-font-size: 18pt

/* SECTION LANDING PAGE */

.boxWrapper.title
  &:hover .boxUIelement
    transform: none
  .textContainer
    background: $clemson-orange
    p
      font-size: 36pt
      font-weight: 700
    &:hover
      background: $clemson-orange

.sections
  .mobile-box
    display: none
  a
    #piccolos .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551909581/Section%20Pages/Piccolos/thumbnail.jpg) (center / cover) no-repeat
    #clarinets .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961247/Section%20Pages/Clarinets/thumbnail.jpg) (center / cover) no-repeat
    #altos .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551874848/Section%20Pages/Alto%20Saxophones/thumbnail.jpg) (center / cover) no-repeat
    #tenors .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551911136/Section%20Pages/Tenor%20Saxophones/thumbnail.jpg) (center / cover) no-repeat
    #trumpets .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551836465/Section%20Pages/Trumpets/thumbnail.jpg) (top / cover) no-repeat
    #mellophones .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551895644/Section%20Pages/Mellophones/thumbnail.jpg) (center / cover) no-repeat
    #baritones .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551834756/Section%20Pages/Baritones/thumbnail.jpg) (center / cover) no-repeat
    #trombones .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload//q_auto/v1551960874/Section%20Pages/Trombones/thumbnail.jpg) (center / cover) no-repeat
    #sousaphones .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551910607/Section%20Pages/Sousaphones/thumbnail.jpg) (top / cover) no-repeat
    #managers .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551894929/Section%20Pages/Managers/header.jpg) (center / cover) no-repeat
    #drum-majors .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961361/Section%20Pages/Drum%20Majors/thumbnail.jpg) (center / cover) no-repeat
    #twirlers .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961464/Section%20Pages/Twirlers/thumbnail.jpg) (center / cover) no-repeat
    #dancers .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961320/Section%20Pages/Dancers/thumbnail.jpg) (center / cover) no-repeat
    #guard .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551893877/Section%20Pages/Color%20Guard/thumbnail.jpg) (center / cover) no-repeat
    #drumline .section
      background: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551961559/Section%20Pages/Drumline/thumbnail.jpg) (center / cover) no-repeat

/* SECTION PAGES */
.section-heading
  height: 70vh
  height: calc(85vh - 4.5rem)
  display: flex
  justify-content: center
  position: relative
  overflow: hidden
  h1
    margin-top: auto
    width: 95%
    color: white
    text-shadow: 5px 5px 25px rgba(0, 0, 0, 1)
  img
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: 100%
    z-index: -9
  &.clarinets
    img
      transform: translate(-50%, -37%)
  &.guard
    img
      transform: translate(-50%, -35%)
  &.trumpet
    height: calc(80vh - 4.5rem)
    img
      transform: translate(-50%, -35%)
  &.alto
    height: calc(73vh - 4.5rem)
    img
      transform: translate(-50%, -30%)
  &.tenors
    height: calc(88vh - 4.5rem)
    img
      transform: translate(-50%, -45%)

.section-quote
  height: 15vh
  padding: 1rem 2.5%
  background: black
  p
    color: white
    font-size: $description-font-size
    &:nth-of-type(even)
      text-align: right
  &.trombone
    height: 20vh
  &.trumpet
    height: 20vh
  &.alto
    height: 27vh
  &.tenors
    height: 12vh

.section-pages.heading
  margin-bottom: 2.5rem

.section-leaders-content
  display: flex
  justify-content: space-evenly
  align-items: center
  width: 100vw
  margin-top: 4rem
  .section-leader
    width: 20%
    .section-leader-photo
      width: 100%
      border-radius: 50%
      shape-outside: circle()
    p
      text-align: center
      font-size: $description-font-size
      margin: 0
      margin-top: 1rem
    h3
      text-align: center
      padding: 0
      margin-top: 1rem

.section-traditions
  display: flex
  flex-flow: row wrap
  .tradition-tile
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    height: 60vh
    overflow: hidden
    img
      max-width: 100%
    .tradition-text
      padding: 2rem
      align-self: flex-start
      font-size: $description-font-size
    &.clarinets
      img
        max-height: 100%

.media-container
  position: relative
  width: 100vw
  height: 100vh
  overflow: hidden
  margin: 0
  *
    position: absolute
    top: 50%
    left: 50%
    min-width: 100%
    transform: translate(-50%, -50%)
    z-index: -2
  img
    width: 100%
  &.guard
    *
      transform: translate(-50%, -43%)
  &.baritone
    *
      transform: translate(-50%, -55%)
  &.trumpet
    *
      transform: translate(-50%, -45%)
  &.tenors
    *
      transform: translate(-50%, -42.5%)

.auditionButton
  display: flex
  flex-flow: row wrap
  width: 50vw
  margin: auto
  margin-top: 2rem
  margin-bottom: 2rem
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 10px rgba(0, 0, 0, 0.25)
  .rect, .boxWrapper
    width: auto
    height: 25vh
    flex: 1

#auditionToday
  background-image: url(/img/clemson-tiger-band-ncstate-2016-428.jpg)
  background-size: cover
  background-position: center
  &.clarinets
    background-image: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551892365/Section%20Pages/Clarinets/recruiting-background.jpg)
  &.guard
    background-image: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551893877/Section%20Pages/Color%20Guard/section.jpg)
    background-position-y: 5%
  &.managers
    background-image: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551894757/Section%20Pages/Managers/recuriting-button.jpg)
    background-position-y: 30%
  &.tenors
    background-image: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551837444/Section%20Pages/Tenor%20Saxophones/header.jpg)
    background-position-y: 30%
  &.trombone
    background-image: url(https://res.cloudinary.com/clemson-university-tiger-band/image/upload/q_auto/v1551960381/Section%20Pages/Trombones/recruiting-background.jpg)

@media (max-width: 1050px)
  .section-heading
    img
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      height: 100%
      width: auto
